@page {
  size: A4;
  margin: 0;
}
html,
body {
  font-size: 20px;
  color: #000000;
}
nav,
#download {
  display: none;
}
section {
  margin: 0;
  border: initial;
  border-radius: initial;
  width: initial;
  min-height: initial;
  box-shadow: initial;
  background: initial;
  page-break-after: always;
}
section.block {
  margin: 0 10px 0 10px;
}
#general {
  background: #ffffff;
}
#general #header {
  -webkit-print-color-adjust: exact;
}
#general .content,
#general .sidebar {
  position: static;
  width: 100%;
  margin: 0;
  padding: 0;
}
#general .content .block,
#general .sidebar .block {
  padding: 0 30px 0 30px;
  margin: 0;
}
#general .content li,
#general .sidebar li {
  line-height: 24px;
}
#skills .row {
  -webkit-print-color-adjust: exact;
  display: block;
  width: 100%;
  margin: 0 0 5px 0;
}
#skills .row .icon {
  position: static;
  display: inline-block;
  width: 50px;
  margin: 10px 0 0 10px;
}
#skills .row .title {
  position: static;
  display: inline-block;
  width: 200px;
}
#skills .row .exp {
  position: static;
  display: inline-block;
  width: auto;
}
#skills .row .level {
  position: static;
  display: inline-block;
  float: right;
  margin: 10px 10px 0 0;
}
#skills .group-toolsframeworks,
#skills .group-othertools {
  page-break-before: always;
  padding-top: 50px;
}
#experience .item-2 {
  page-break-before: always;
  padding-top: 50px;
}
