#main {
    width: 1600px;
    margin: auto;
}

.zchart {
    position: relative;
    font-family: sans-serif;
}

.zchart canvas {
    margin: 0 0 46px 0;
}

.zchart-x-labels {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #e5e5e5;
}

.zchart-x-labels div {
    display: inline-block;
    padding: 15px 0 0 0;
    text-align: center;
    text-transform: uppercase;
}

.zchart-y-labels {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
}

.zchart-y-labels div {
    position: absolute;
    margin: 0 0 10px 10px;
}
